p {
    margin: 0;
}

.content a {
    color: black;
}

    .content a:hover {
        text-decoration: none;
        color:cornflowerblue;
    }

.header {
    background-color: #333;
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}

.menu > a {
    display: inline-block;
    color: white;
    padding: 10px 30px;
    margin: 20px 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

    .menu > a + a {
        border-left: solid 1px;
    }

.header a:hover {
    background-color: #111;
}

.menu {
    width: 780px;
    float: left;
}

.sign > a {
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    float: right;
    padding: 5px 10px;
    margin: 25px 0;
}

.container {
    width: 1170px;
    margin: auto;
}

#logo {
    width: 145px;
    height: 100%;
    float: left;
}

.thumbnail {
    width: 300px;
    height: 300px;
}

.illustration {
    width: 100%;
    margin-bottom: 20px;
}

.illustration-list {
    width: 130px;
    height: 130px;
    display: inline-block;
    margin-right: 10px;
}

.breadcrumb {
    background-color: #e0e0d1;
    border-radius: 0;
    margin-top: 90px;
}

    .breadcrumb a, p {
        display: inline-block;
        font-size: 18px;
        padding: 10px 0;
    }

        .breadcrumb a:after {
            content: "\00a0>";
        }

.footer {
    text-align: center;
    background-color: #333;
    color: white;
}

.checked {
    color: yellow;
}

.media-heading {
    font-size: 20px;
    padding-right: 5px;
}

.small-content > .thumbnail {
    width: 200px;
    height: 200px;
}

.small-content > p {
    font-size: 15px;
}

.small-pic-left {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 20px;
    display: inline-block;
    border-radius: 10px;
}

.small-pic-right {
    width: 150px;
    height: 150px;
    float: right;
    margin-left: 20px;
    display: inline-block;
    border-radius: 10px;
}

.description {
    width: 500px;
    margin: 0;
    display: inline-block;
}

    .description h3 {
        margin-top: 0;
    }

.dish {
    margin-bottom: 40px;
}

.dish-list {
    margin-bottom: 40px;
}

.quantity input[type=number] {
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    text-align: center;
    border: solid 0.5px gray;
    margin-bottom: 10px;
}

.add_to_cart_button {
    background-color: #ff1a1a;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

    .add_to_cart_button:hover {
        background-color: #ff8080;
    }
